.articleDetails {
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.desc {
    display: flex;
    align-items: center;
    gap:5px;
    fill:var(--primary-color)
}

.eye {
    margin-left:-5px;
}