.root {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.btn {
    border: none;
    cursor: pointer;
    padding:5px;
    background: none;
    fill:var(--primary-color);
}

.selected {
    fill:var(--secondary-color)
}