.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    transition: width linear 0.3s;
    position: relative;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.collapsed {
    width: var(--sidebar-collapsed);
    flex-direction: column;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .link {
        width: 1px;
        opacity: 0;
    }
}

.tglButton {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: var(--inverted-bg-color);
    color: var(--inverted-secondary-color);
    font-size: var(--font-size-l);
    position: absolute;
    right: -32px;
    bottom: 20px;
    cursor: pointer;
    z-index: 100;
}

.links {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 20px;
    padding-left: 15px;
}
