.btn {
    background: none;
    padding: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        opacity: 0.8;
        background-color: var(--bg-color);
    }
}
