.app.dark {
    --bg-color: rgb(1 1 118);
    --inverted-bg-color:rgb(187 187 208);
    --primary-color: rgb(3 136 3);
    --secondary-color:rgb(4 223 4);
    --inverted-primary-color: rgb(34 3 91);
    --inverted-secondary-color: rgb(41 111 217);
}
