.header {
    display: flex;
    margin-bottom: 20px;
}

.btn {
    background: none;
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px;
}

.btnCancel {
    margin-left: 5px;
    background: none;
    cursor: pointer;
    color: red;
    padding: 10px;
}

.btnWrapper {
    margin-left: auto;
}